.cabecalho-menu{
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu\ \(1\).svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
}

.container-imagem{
    padding: 0.5em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 70%;
}

.container-botao:checked~.lista-menu{
    display: block;
}

.lista-menu-titulo, .lista-menu-item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu-link{
    background: var(--vermelho-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 400;
}

.container-botao{
    display: none;
}

.header-titulo{
    display: none;
}

.lista-nav{
    display: none;
}

@media screen and (min-width: 1024px) {
    .header-titulo, 
    .header-titulo-negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        margin-top: 10px;
    }

    .header-titulo{
        font-weight: 400;
        display: block;
    }

    .header-titulo-negrito{
        font-weight: 700;
    }

    .lista-nav{
        display: flex;
    }

    .item-nav{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .item-link{
        text-decoration: none;
        color: var(--preto);
    }

    .imagem-transparente{
        display: none;
    }

    .cabecalho-menu{
        display: none;
    }

    #menu-1024:checked ~.lista-menu{
        display: block;
        width: auto;
    }

    #menu-1024{
        display: none;
    }
}
