.cabecalho-menu{
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu\ \(1\).svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 0 20px; */
}

/* .container{
    padding: 0.5em;
} */

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 70%;
}

.container-botao:checked~.lista-menu{
    display: block;
}

.lista-menu-titulo, .lista-menu-item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu-link{
    background: var(--vermelho-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 400;
}

.container-botao{
    display: none;
}

.header-titulo{
    display: none;
}

.lista-nav{
    display: none;
}

.container-texto{
    display: none;
}

.container-botao:checked~ .container-rotulo > .cabecalho-menu{
    background-image: url("../images/menu_black_24dp\ 1.svg");
    transition: 0.5s ease-in;
}

.container-botao:checked~ .container-rotulo{
    transition: 0.5s ease-in;
    background: var(--vermelho-degrade);
}

.container-rotulo{
    padding: 1em;
}


@media screen and (min-width: 1024px) {
    .header-titulo, 
    .header-titulo-negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        margin-top: 10px;
    }

    .header-titulo{
        font-weight: 400;
        display: block;
    }

    .header-titulo-negrito{
        font-weight: 700;
    }

    .lista-nav{
        display: flex;
    }

    .item-nav{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .item-link{
        text-decoration: none;
        color: var(--preto);
    }

    .imagem-transparente{
        display: none;
    }

    .cabecalho-menu{
        display: none;
    }

    #menu-1024:checked ~.lista-menu{
        display: block;
        width: auto;
    }

    #menu-1024{
        display: none;
    }

    .item-nav{
        padding: 1.1em;
    }

    .container-botao-1024:checked~.opcoes-rotulo>.item-nav{
        color: var(--branco);
        background: var(--vermelho-degrade);
        transition: 0.5s ease-in;
    }
}

@media screen and (min-width: 1728px) {
    .container > a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-weight: 500;
    }

    header{
        padding: 0 2em;
    }

    .container{
        padding: 0;
    }

    nav{
        margin-right: auto;
        margin-left: 1em;
    }

    .opcoes-rotulo{
        cursor: pointer;
    }
}